.App{
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 700px;
    margin: 0 auto;
    font-family: system-ui;
}

/* .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
.container img {
    max-width: 320px;
    height: auto;
} */